footer {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    -45deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(14, 120, 219) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.footer-text {
  color: aliceblue;
  padding: 10px;
}
